@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    7540 Wheeler Rd<br />
    Whitmore Lake, MI 48189<br />
    <abbr title="Phone">P:</abbr>
    734.904.5675
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:rd484215@ohio.edu">rd484215@ohio.edu</a><br />
</address>