@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color: gainsboro">
    <h1>MIS 4200</h1>
    <p class="lead" >MIS 4200 is a class focused on building development techniques, primarily through the use of Microsoft SQL and HTML.</p>
    <p><a href="https://catalogs.ohio.edu/preview_course_nopop.php?catoid=42&coid=191859" class="btn btn-default btn-lg" style="background-color: darkseagreen">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4" style="background-color: gainsboro">
        <h2 style="color:darkslategray">MIS Degree</h2>
        <p>
            Management Information Systems is a degree within the College of Business.  
            It focuses on developing skills of coding, analysis, application and communication.
            It is a six course degree that allows students to learn the skills and apply them in real life situations.

        </p>
        <p><a class="btn btn-default" style="background-color: whitesmoke" href="https://business.ohio.edu/academics/undergrad-majors/management-information-systems/undergraduate-degree/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4" style="background-color: gainsboro">
        <h2 style="color:darkslategray">Get Involved</h2>
        <p>The Ohio University club dedecated to MIS and Analysics majors is called Information Systems and Analytics Professionals, ISAP.
        This organization allows members to learn more about their field and helps them find job placement after graduation.</p>
        <p><a class="btn btn-default" style="background-color: whitesmoke" href="https://ouisap.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4" style="background-color: gainsboro">
        <h2 style="color:darkslategray">Job Opportunities</h2>
        <p>There are many different professions available for individuals majoring in MIS and Analytics.
        These jobs include business analysts, software developers, and consultants. 
        
        </p>
        <p><a class="btn btn-default" style="background-color: whitesmoke" href="https://www.bestmastersdegrees.com/lists/5-great-mis-careers">Learn more &raquo;</a></p>
    </div>
</div>